@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100);

/*

BLEU : #2B3F5E
BLEU HOVER : #467ABA
ROUGE : #A80532
*/

body, html {
	/* height: 100%!important; */
	/*overflow: auto!important;
	//max-height: 100% !important;
	//width:100%;*/
	background:#FFF;
	font-size:14px;
	padding : 0;
	margin:0;
	font-family: Lato, sans-serif;
	color:#000;
}

h1{
	color: #2B3F5E;
}

h1.titreRub{
	font-size:20px;
}

/* HEADER */

header{
	min-height:180px;
	padding: 0 5%;
	margin:0 auto;
	white-space:nowrap;
}

header p#lienespacemembre{
	float:right;
	border : 2px solid #666;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	border-top:none;
	padding:10px;
	font-size:15px;
	margin-top:0;
}

header p#lienespacemembre a{
	color:#000;
	text-decoration: none;
}

header #titre{
	display:inline-block;
	text-align:center;
	vertical-align:center;
	margin-left:10%;
}

header #titre h1{
	font-size:40px;
	margin:0;
	margin-top:10px;
	padding:0;
}

header #titre h2{
	font-size:25px;
	margin:0;
	padding:0;
}

header #logo{
	display: inline-block;
	width:250px;
}

header img#logoJeBiFhead{
	width:250px;
}



/* NAV */
nav{
	background:#2B3F5E;
	color:#FFF;
	height:30px;
	padding: 0 5%;
}

nav a{
	color:#FFF;
	padding: 0 20px;
	text-decoration:none;
	font-size:14px;
	text-transform:uppercase;
	vertical-align:middle;
	line-height:30px;
}

nav a:hover{
	background-color:#467ABA;
}


/* ARTICLE À LA UNE */
#une{
	min-height:250px;
	//background-color:#CCC;
	float:left;
	width:70%
}


/* JEBIF PUB*/
#blocDroite{
	float:right;
	width:25%;
	padding-right:10px;
}

#jebifpub .event{
	padding-left:10px;
}

#jebifpub hr{
	border: 1px solid #CCC;
	width:70%;
}

#jebifpub .event h1{
	margin-bottom:5px;
	margin-top:0;
}

#jebifpub .event h1 a{
	color:#A80532;
	text-decoration:none;
	font-size:20px;
}

#jebifpub .event i{
	font-size:18px;
	//color:#2B3F5E;
	margin: 0 3px;
}

#jebifpub .event .datetimeEvent, #jebifpub .event .locationevent{
	font-size:18px;
	margin: 0;
	margin-bottom:5px;
}