@import url(http://fonts.googleapis.com/css?family=Lato:300,400,100);

/*

BLEU : #2B3F5E
BLEU HOVER : #467ABA
ROUGE : #A80532
*/

body, html {
	/* height: 100%!important; */
	/*overflow: auto!important;
	//max-height: 100% !important;
	//width:100%;*/
	background:#FFF;
	font-size:14px;
	padding : 0;
	margin:0;
	font-family: 'Lato', sans-serif;
	color:#000;
}

h1{
	color: #2B3F5E;
}

h1.titreRub{
	font-size:20px;
}

.clear{
	clear:both;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

/* HEADER */

header{
	min-height:180px;
	padding: 0 5%;
	margin:0 auto;
	white-space:nowrap;
}

header p#lienespacemembre{
	float:right;
	border : 2px solid #666;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	border-top:none;
	padding:10px;
	font-size:15px;
	margin-top:0;
}

header p#lienespacemembre a{
	color:#000;
	text-decoration: none;
}

header #titre{
	display:inline-block;
	text-align:center;
	vertical-align:center;
	margin-left:10%;
}

header #titre h1{
	font-size:40px;
	margin:0;
	margin-top:10px;
	padding:0;
}

header #titre h2{
	font-size:25px;
	margin:0;
	padding:0;
}

header #logo{
	display: inline-block;
	width:250px;
}

header img#logoJeBiFhead{
	width:250px;
}



/* NAV */
nav{
	background:#2B3F5E;
	color:#FFF;
	height:30px;
	padding: 0 5%;
}

nav a{
	color:#FFF;
	padding: 0 20px;
	text-decoration:none;
	font-size:14px;
	text-transform:uppercase;
	vertical-align:middle;
	line-height:30px;
}

nav a:hover{
	background-color:#467ABA;
	text-decoration:none;
}


/* ARTICLE À LA UNE */
#blocGauche{
	float:left;
	width:72%;
	padding-left:15px;
}

#une .alaune{
	width:30%;
	float:left;
	background:#F6F6F6;
	border:2px solid #CCC;
	margin: 0 5px;
	height:280px;
	padding:5px;
}

#une .alaune h1{
	margin:0;
}

#une .alaune h1 a{
	color: #A80532;
	font-size:20px;
}

#une .alaune .logoArticleUne{
	text-align: center;
}

#une .alaune img.imgLogoArticleUne{
	width:80%;
}

#une .alaune .resumeArticleUne, #presentationasso #textepresentation{
	text-align:justify;
}

#une .alaune p.lienArticle{
	text-align:right;
}

#une .alaune p.lienArticle a, #presentationasso p.lienArticle a{
	color: #A80532;
}

/* JEBIF PUB*/
#blocDroite{
	float:right;
	width:25%;
	padding-right:15px;
}

#jebifpub .event{
	padding-left:10px;
}

#jebifpub hr{
	border: 1px solid #CCC;
	width:70%;
}

#jebifpub .event h1{
	margin-bottom:5px;
	margin-top:0;
}

#jebifpub .event h1 a{
	color:#A80532;
	font-size:20px;
}

#jebifpub .event i{
	font-size:18px;
	//color:#2B3F5E;
	margin: 0 3px;
}

#jebifpub .event .datetimeEvent, #jebifpub .event .locationevent{
	font-size:18px;
	margin: 0;
	
}

#jebifpub .event .datetimeEvent {
margin-bottom:5px;
}

#jebifpub .lienEvent{
	margin:0;
	text-align:right;
}

#jebifpub .lienEvent a{
	color:#A80532;
}

/* SOUTIENS, AMIS */
#soutiens .logosoutiens, #amis .logosoutiens{
	text-align:center;
}

#soutiens .logosoutiens img, #amis .logosoutiens img{
	width:50%;
}


/* PAGE MEMBRES */
#contentmembres{
	width:80%;
	margin: 0 auto;
}

#contentmembres #adherer h1, #contentmembres #login h1{
	font-size: 20px;
	color: #A80532;
}

#contentmembres #adherer h2{
	color: #A80532;
}

#contentmembres #adherer i, #contentmembres #login i{
	margin-right:5px;
}

#contentmembres #adherer{
	float:right;
	width:55%;
	padding-left:5%;
	border-left:1px solid #CCC;
}

#contentmembres #login{
	width:35%;
	float:left;
}

#contentmembres input{
	font-size:14px;
}

#contentmembres input[type=email], #contentmembres input[type=password]{
	padding:10px;
	border:2px solid #CCC;
	border-radius:5px;
	width:100%;
	outline: none;
}

#contentmembres input[type=submit]{
	background-color:#A80532;
	padding:10px;
	border:none;
	border-radius:5px;
	color:#FFF;
}

#contentmembres input:focus{
	border:2px solid #A80532;
}

#contentmembres input:invalid{
	background:#E77F8C;
	color:#FFF;
}


